version: '3.6'
services:
   jenkins:
     image: jenkinsci/blueocean
     container_name: jenkins_agent
     restart: always
     ports:
      - 8080:8080
     volumes:
      - '/var/lib/jenkins:/var/lib/jenkins'
      - '/var/run/docker.sock:/var/run/docker.sock'
      - '/var/lib/jenkins/apache-maven-3.6.3:/usr/local/maven'